/* Slide in navigation*/

.hamburger {
  font-size: 40px;
  cursor: pointer;
  position: fixed;
  top: 40px;
  left: 40px;
  z-index: 1;
  color: white;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #468499;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.dropdown-toggle, .dropdown-menu {
  display: none;
}

/* Slide in navigation*/

/* Header */

.header h1 {
  font-size: 3em;
  font-family: 'Julius Sans One', sans-serif;
}

.header {
  position: relative;
  text-align: center;
  background-image: url("images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

.overlay {
  position: relative;
  top: 200px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: white;
  width: 80%;
  max-width: 100%;
  padding: 1% 0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 9px 16px 0px rgba(50, 50, 50, 0.27);
  -moz-box-shadow: 0px 9px 16px 0px rgba(50, 50, 50, 0.27);
  box-shadow: 0px 9px 16px 0px rgba(50, 50, 50, 0.27);
}

#btn-override{
  position: static;
}

/* Header */

/* Footer */

footer a {
  font-size: 28px;
  color: white;
  padding: 5px;
}

footer #facebook:hover {
  color: #3B5998;
  text-decoration: none;
}

footer #twitter:hover {
  color: #1dcaff;
  text-decoration: none;
}

footer #instagram:hover {
  color: #8a3ab9;
  text-decoration: none;
}

footer {
  padding-top: 4px;
  position: fixed;
  right: 20px;
  margin: auto;
  bottom: 0;
  width: 40px !important;
  background-color: #a4b2b7;
  color: white;
  text-align: center;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  ;
}

/* Footer */
.container-change {
  width: 100% !important;
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Catamaran', sans-serif;
}

body {
  background-color: #f8f8f8;
}

h1 {
  color: black;
}

/* Filter system */

.filter-gallery .row div {
  border-radius: 8%;
}

.filter-gallery .gallery_product {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  border-left: 10px solid white;
  background-color: #d3d3d3;
}

/* .filter-gallery .row.
, .filter-gallery {
  margin: 0;
} */

.container-main {
  margin-top: 120px;
  border-radius: 5px;
    background-color: white;
    display: relative;
}

.filter-button {
  font-size: 18px;
  border: 1px solid #468499;
  border-radius: 5px;
  text-align: center;
  color: #468499;
  margin-bottom: 30px;
}

.filter-button:hover {
  font-size: 18px;
  border: 1px solid #468499;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  background-color: #468499;
}

.btn-default:active .filter-button:active {
  background-color: #468499;
  color: white;
}

.port-image {
  width: 100%;
}

.gallery_product {
  margin-bottom: 5%;

}

.restuarant-link i {
  font-size: 30px;
}

.restuarant-link i {
  color: #468499;
}

/* Filter system */

.container {
  width: 90% !important;
}

/*  contact page */
.map-container {
	height: 0;
	overflow: hidden;
	padding-bottom: 60%; /* aspect ratio */
	position: relative;
}

.googlemap {
	border: 0;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.contact-details .fas {
  font-size: 5em;
  color: #468499;
}

.contact-details p{
  font-size: 1.5em;
}
/* contact page */

/* Media Queries */

@media only screen and (max-width: 950px) {
  .container-main {
    margin-top: -160px;
    border-radius: 5px;
  }
  .hamburger {
    color: #468499;
    background-color: #fff;
  }
  .header {
   background-image: none;
   }
  .overlay {
    width: 100%;
    display: block;
    bottom: 0;
    top: 0;
    padding: 0;
    padding-top: 1%;
  }
  .container-change {
    width: 100% !important;
    margin: 0;
    padding: 0;
  }
  .desktop-filter {
    display: none;
  }
  .dropdown-toggle {
    display: block;
  }
  .dropdown-menu {
    position: absolute;
    top: 100%;
    z-index: 1000;
    display: none;
    float: left;
    width: 100%;
    padding: 5px 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 4px;

  }
}

@media only screen and (max-width: 410px) {
  .header h1 {
    font-size: 2em;
  }
  .hamburger {
    top: 3.5%;
    left: 5%;
  }
}

  /* Media Queries */
